<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<form action="#" th:action="@{/nuovoIngrediente}" th:object="${ingrediente}" method="post">
<input type="text" th:field="*{nome}"  placeholder="Nome">
<input type="number" th:field="*{costo}"  placeholder="Costo">
<input type="radio" th:field="*{presente}" th:value="${true}" />
    <label th:for="${true}" >Presente</label>
<input type="radio" th:field="*{presente}" th:value="${false}" />
    <label th:for="${false}" >Non Presente</label>

<input type="submit" value="Aggiungi">
</form><br>

<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Costo</th>
				<th>Stato</th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="ingrediente : ${listaIngredienti}">
				<td th:text="${ingrediente.id}"></td>
				<td th:text="${ingrediente.nome}"></td>
				<td th:text="${ingrediente.costo}"></td>
				<td th:switch="${ingrediente.presente}">
  <p th:case="true">Presente</p>
  <p th:case="false">Non Presente</p>
			</tr>
		</tbody>
	</table>
<a th:href="@{/accessoAdmin}">Torna indietro</a>
</body>
</html>