<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<form action="#" th:action="@{/nuovoDolce}" th:object="${dolce}" method="post">
<input type="text" th:field="*{nome}"  placeholder="Nome">
<input type="number" th:field="*{quantita}" placeholder="Quantità">
<th:block th:each="ricetta : ${listaRicette}">
                <input type="checkbox" name="idRicetta" th:value="${ricetta.id}"/>
                 <label th:text="${ricetta.nome}"></label>
 </th:block>
<input type="submit" name="azione" value="Crea">
</form>

<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Costo</th>
				<th>Ricette</th>
				<th>Quantità</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="dolce : ${listaDolci}">
				<td th:text="${dolce.id}"></td>
				<td th:text="${dolce.nome}"></td>
				<td th:text="${dolce.costo}"></td>
				<td th:text="${dolce.listaRicette}"></td>
				<td th:text="${dolce.quantita}"></td>				
			</tr>
		</tbody>
	</table>
<a th:href="@{/accessoAdmin}">Torna indietro</a>
<div th:if="${messaggio!=null}">
<h1>non ci sono abbastanza ingredienti</h1>
</div>
</body>
</html>