<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<form action="#" th:action="@{/nuovaRicetta}" th:object="${ricetta}" method="post">
<input type="text" th:field="*{nome}"  placeholder="Nome">
<input type="number" th:field="*{tempo}"  placeholder="Tempo">
<input type="number" th:field="*{difficolta}" min="1" max="5"  placeholder="Difficolta">
<input type="text" th:field="*{descrizione}"  placeholder="Descrizione">

<input type="submit" name="azione" value="Crea">
</form>

<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Costo</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="ricetta : ${listaRicette}">
				<td th:text="${ricetta.id}"></td>
				<td th:text="${ricetta.nome}"></td>
				<td th:text="${ricetta.difficolta}"></td>
				<td th:text="${ricetta.descrizione}"></td>
				<td th:text="${ricetta.costo} % 1 == 0? ${ricetta.costo} :${#numbers.formatDecimal(ricetta.costo, 0, 2)}"></td>
				<td th:text="${ricetta.listaIngredienti}"></td>
				
			</tr>
		</tbody>
	</table>
<a th:href="@{/accessoAdmin}">Torna indietro</a>
</body>
</html>