<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<form action="#" th:action="@{/accessoUtente}">
<input type="text" th:text="*{username}" placeholder="Inserisci username">
<input type="submit" value="Accedi">
</form><br>

<a href="/registra">Registra</a><br>
<a href="/accessoAdmin">AccessoAdmin</a><br>


</body>
</html>