<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Users</title>
</head>
<body>
<form action="#" th:action="@{/creaOrdine}" th:object="${bean}" method="post">
<input type="datetime-local" th:field="*{dataConsegna}">
<th:block th:each="dolce : ${listaDolci}">
                <input type="checkbox" name="idDolce" th:value="${dolce.id}"/>
                 <label th:text="${dolce.nome}"></label>
 </th:block>
 <input type="hidden" th:field="${bean.idOrdine}" name="idOrdine">
<input type="hidden" th:field="${bean.idCliente}" name="idCliente">
<input type="submit" name="azione" value="Ordina">
</form>


<form action="#" th:action="@{/profiloUtente}" th:object="${bean}" method="post">
<input type="hidden" th:field="${bean.idCliente}">
<input type="submit" name="azione" value="Profilo">
</form>

</body>
</html>